.firefly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(8rem); /* Translate to move to the edge of the circle */
  background-color: #ffbf4f;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.relative:hover .firefly {
  animation: rotateAroundCircle 6s infinite linear;
}

/* Animation to rotate around the circle */
@keyframes rotateAroundCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(8rem) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(8rem)
      rotate(-360deg);
  }
}

/* Additional flicker effect for glow */
.firefly::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 170%;
  height: 170%;
  border-radius: 50%;
  background-color: #ffbf4f;
  opacity: 0.05;
  z-index: 1;
  animation: flicker 2s infinite ease-in-out alternate;
}

.firefly::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #ffbf4f;
  opacity: 0.05;
  z-index: -1;
  animation: pulse-after-flicker 2s infinite ease-in-out alternate;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes pulse-after-flicker {
  0% {
    transform: scale(1);
    opacity: 0.5;
    filter: blur(3px);
  }
  30% {
    transform: scale(1.2);
    opacity: 0.5;
    filter: blur(3px);
  }
  70% {
    transform: scale(1.4);
    opacity: 0.5;
    filter: blur(3px);
  }
  100% {
    transform: scale(1.6);
    opacity: 0.5;
    filter: blur(3px);
  }
}
