@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.5s ease;
}

.group:hover .overlay {
  transform: scale(1);
  opacity: 0.8; /* Adjust opacity to achieve a more intense effect */
}
